# VS Code / local config
.vscode/sftp.json

# Optional: macOS
.DS_Store
.claude

# Optional: Node (falls du mal ein Build machst)
node_modules/

# dokumente
*.doc
*.docx
*.pdf

#Ordner die nicht ins Repo sollen
Notes/
Backup/